.section {
  background-color: #12344d;
  flex-flow: column;
  height: 300px;
  display: flex;
}

.div-block {
  border-top: 2px solid #f6f3f3;
  flex-flow: column;
  flex: 0 auto;
  height: 36px;
  display: block;
}

.div-block-2 {
  flex: 0 auto;
  width: 1400px;
  display: none;
}

.code-embed {
  width: 80%;
  height: 80%;
  margin-left: 220px;
  padding-left: 0;
  display: flex;
  position: static;
}

.heading {
  color: #fff;
}

.heading-2 {
  color: #fff;
  margin-left: 40px;
  font-family: Merriweather, serif;
  font-size: 16px;
}

.logos-title-small {
  border-bottom: 1px #e4ebf3;
  padding: 30px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.clients-tag {
  color: #fff;
  text-align: left;
  margin-bottom: 0;
  margin-left: 40px;
  font-family: Merriweather, serif;
  font-size: 22px;
  line-height: 20px;
  text-decoration: underline;
  position: relative;
}

.clients-wrapper-three {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: -10px;
  display: flex;
}

.clients-image-three {
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.section-2 {
  display: none;
}

.image {
  z-index: 2;
  aspect-ratio: auto;
  display: block;
  position: relative;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 728px;
  }

  .clients-image-three {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .logos-title-small {
    padding: 60px 15px;
  }

  .clients-wrapper-three {
    margin-bottom: -30px;
  }

  .clients-image-three {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 479px) {
  .container {
    max-width: none;
  }

  .clients-wrapper-three {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    margin-bottom: 0;
    display: grid;
  }

  .clients-image-three {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}


